[Unit]
Description=Watching Agent Application
After=network.target

[Service]
ExecStart=/usr/bin/npm start --prefix {{ app_target_src_dir | default('/app/global') }}
WorkingDirectory={{ working_dir | default('/opt/app') }}
Restart=always
User=root
Environment=NODE_ENV=production

[Install]
{# WantedBy=default.target #}
WantedBy=multi-user.target
