---
- name: Gather OS facts
  tags: db, install, config
  ansible.builtin.set_fact:
    os_family: "{{ ansible_facts['os_family'] }}"
    os_distribution: "{{ ansible_facts['distribution'] }}"
    os_version: "{{ ansible_facts['distribution_version'] }}"

- name: Display gathered OS facts
  tags: debug
  ansible.builtin.debug:
    msg:
      - "OS Family: {{ os_family }}"
      - "Distribution: {{ os_distribution }}"
      - "Version: {{ os_version }}"

- name: Append each host's IP to agents_dict with "agentN"
  ansible.builtin.set_fact:
    db_nodes: "{{ db_nodes | default([]) + [hostvars[item].ansible_host] }}"
  with_items: "{{ groups['all'] }}"
  loop_control:
    index_var: item_index
  failed_when: db_nodes | length == 0

- name: Debug db_nodes fact
  tags: debug
  ansible.builtin.debug:
    var: db_nodes

- name: Select the database to install
  tags: db, install, config
  ansible.builtin.set_fact:
    db_name: "{{ db_name | default('mongodb') }}"

- name: Include MongoDB installation tasks
  tags: db, mongodb, install, config
  ansible.builtin.include_tasks: mongodb.yml
  when: db_name == 'mongodb'

- name: Include CouchDB installation tasks
  tags: db, couchdb, install, config
  ansible.builtin.include_tasks: couchdb.yml
  when: db_name == 'couchdb'
