[Unit]
Description=MongoDB Database Server For ReplicaSet (port 27018)
Documentation=https://docs.mongodb.com
After=network.target

[Service]
User=mongodb
Group=mongodb
ExecStart=/usr/bin/mongod --config /etc/mongodb27018.conf
PIDFile=/var/run/mongodb27018.pid
LimitNOFILE=64000
TimeoutStartSec=5
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target