- name: Update .env file with simulation parameters
  ansible.builtin.lineinfile:
    path: /app/server/.env
    regexp: '^SIMULATION_NAME='
    line: "SIMULATION_NAME={{ simulation_name }}"
    create: true

- name: Set simulation api uri
  ansible.builtin.set_fact:
    simulation_api_uri: "http://{{ simulation_api_host }}:{{ simulation_api_port }}"

- name: Wait for simulation API to be available
  ansible.builtin.uri:
    url: "{{ simulation_api_uri }}/api/agents/is-exploring"
    method: GET
    status_code: 200
    register: result
    retries: 10
    delay: 5
    until: result.status == 200

- name: Prepare database before starting simulations
  ansible.builtin.uri:
    url: "{{ simulation_api_uri }}/api/init"
    method: POST
    status_code: 200

- name: Simulation loop
  ansible.builtin.include_tasks: run_simulation.yml
  when: inventory_hostname == groups['exploringAgents'][0]
  loop: "{{ range(1, simulation_count + 1) | list }}"
  loop_control:
    loop_var: simulation_number
