# - name: Update .env file with simulation parameters
#   ansible.builtin.lineinfile:
#     path: /app/server/.env
#     regexp: '^SIMULATION_NAME='
#     line: "SIMULATION_NAME={{ simulation_name }}"
#     create: true

- name: Set simulation api uri
  ansible.builtin.set_fact:
    simulation_api_uri: "http://{{ simulation_api_host }}:{{ simulation_api_port }}"

- name: Set full_agents_list with IPs
  ansible.builtin.set_fact:
    full_agents_list: "{{ full_agents_list | default([]) + [(hostvars[item].ansible_host)] }}"
  with_items: "{{ groups['all'] }}"
  loop_control:
    index_var: item_index

- name: Load simulation parameters from params.json
  ansible.builtin.set_fact:
    all_sim_params: "{{ lookup('file', 'params.json') | from_json }}"

- name: Simulation loop
  ansible.builtin.include_tasks: loop_simulation.yml
  when: inventory_hostname == groups['exploringAgents'][0]
  loop: "{{ all_sim_params }}"
  loop_control:
    loop_var: simulation_params
