- name: Reconfigure the mongo replica set
  block:
    - name: Write reconfig script to temp file
      ansible.builtin.template:
        dest: /tmp/reconfig_rs.js
        src: mongodb_replset_reconfig.js.j2
        mode: '0644'
        group: 'smac'

    - name: Run reconfig against target node
      ansible.builtin.command:
        cmd: mongosh --host {{ target_node }} --port {{ mongo_port }} /tmp/reconfig_rs.js
      register: simulation_mongo_reconfig

    - name: Show output from mongo reconfig attempt
      ansible.builtin.debug:
        var: simulation_mongo_reconfig.stdout_lines
      when: simulation_mongo_reconfig.stdout is defined
