---
- name: Add entries to /etc/hosts for local DNS resolution dynamically
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ item }}"
    state: present
    create: true
    mode: '0644'
  loop: "{{ lookup('template', 'hosts.j2').splitlines() }}"
  become: true
  notify: restart_systemd_resolved
