---
- name: Fetch and unzip app from git
  block:
    - name: Fetch CouchDB's app version on git
      ansible.builtin.get_url:
        url: "{{ couchdb_app_repo_url }}"
        dest: /tmp/V2.zip
        mode: '0644'
      register: fetch_couchdb_app
    - name: Unzip CouchDB app version
      ansible.builtin.unarchive:
        src: /tmp/V2.zip
        dest: /tmp/
    - name: Display fetched CouchDB app version
      ansible.builtin.debug:
        msg: "CouchDB app version fetched to {{ fetch_couchdb_app.dest }}"
  rescue:
    - name: Handle error in fetching CouchDB app
      ansible.builtin.debug:
        msg: "Failed to fetch CouchDB app from {{ couchdb_app_repo_url }}"
  always:
    - name: Clean up temporary files
      ansible.builtin.file:
        path: /tmp/V2.zip
        state: absent
- name: Deploy CouchDB app
  ansible.builtin.copy:
    src: /tmp/V2/
    dest: "{{ couchdb_app_deploy_path }}"
    owner: "{{ user }}"
    group: "{{ group }}"
    mode: '0755'
- name: Compile back & front
  ansible.builtin.command: >
    bash -c "cd {{ couchdb_app_deploy_path }} &&
    ./build.sh"
  args:
    chdir: "{{ couchdb_app_deploy_path }}"