# - name: Detect the wanted module
#   ansible.builtin.set_fact:
#     # app_os_family: "{{ ansible_facts['os_family'] }}"
#     # app_os_distribution: "{{ ansible_facts['distribution'] }}"
#     # app_os_version: "{{ ansible_facts['distribution_version'] }}"
#     app_modules: "{{ app_modules | default({'explorer': true, 'watcher': false}) }}"

- name: Install needed packages
  ansible.builtin.package:
    name:
      - git
      - npm
      - nodejs
    state: present

- name: Install TypeScript globally if not present
  community.general.npm:
    name: typescript
    global: true
    state: present

- name: Debug temp
  ansible.builtin.debug:
    var: groups['exploringAgents'] | regex_search(ansible_hostname) is not none

- name: Set application modules to deploy
  ansible.builtin.set_fact:
    app_modules:
      explorer: "{{ groups['exploringAgents'] | regex_search(ansible_hostname) is not none }}"
      watcher: "{{ groups['watchingAgents'] | regex_search(ansible_hostname) is not none }}"

- name: Debug detected modules
  ansible.builtin.debug:
    var: app_modules

- name: Include module variables
  ansible.builtin.include_vars:
    file: "vars/{{ item }}.yml"
  with_items: "{{ app_modules | dict2items | selectattr('value', 'equalto', true) | map(attribute='key') | list }}"

- name: Test variables loaded
  ansible.builtin.debug:
    var: app_modules

# - name: Include application env variables
#   ansible.builtin.include_vars:
#     file: "../defaults/main.yml"

- name: Get /etc/hosts content to find agent's name
  ansible.builtin.slurp:
    src: /etc/hosts
  register: hosts_file_result

- name: Set hosts_file as fact
  ansible.builtin.set_fact:
    hosts_file: "{{ hosts_file_result.content | b64decode }}"

- name: debug hosts_file
  ansible.builtin.debug:
    var: hosts_file

- name: Debug default_ipv4 address
  ansible.builtin.debug:
    msg: "Default IPv4 address is {{ ansible_default_ipv4.address }}"

- name: Set app_agent_name based on /etc/hosts content
  ansible.builtin.set_fact:
    app_agent_name: "{{ hosts_file | split('\n') | select('search', ansible_default_ipv4.address) | first | regex_search('agent[0-9]{3}') | default('') }}"
  when: app_modules.explorer | default(false)
  failed_when: app_agent_name == ''

- name: Debug app_agent_name fact
  ansible.builtin.debug:
    var: app_agent_name
  when: app_modules.explorer | default(false)

- name: Set app_watcher_name and watcher_ip based on /etc/hosts content
  ansible.builtin.set_fact:
    app_watcher_name: "{{ hosts_file | split('\n') | select('search', ansible_default_ipv4.address) | first | regex_search('watcher[0-9]{3}') | default('') }}"
  when: app_modules.watcher | default(false)
  failed_when: app_watcher_name == ''

- name: Debug app_watcher_name fact
  ansible.builtin.debug:
    var: app_watcher_name
  when: app_modules.watcher | default(false)

- name: Set app_explorers_names fact
  ansible.builtin.set_fact:
    app_explorers_names: "{{ hosts_file | regex_findall('agent[0-9]{3}', multiline=True, ignorecase=True) }}"

- name: Debug app_explorers_names fact
  ansible.builtin.debug:
    var: app_explorers_names

- name: Set ssh_key fact
  ansible.builtin.set_fact:
    ssh_key: "{{ lookup('file', 'ssh-key') }}"

- name: Set environnment variables for explorers/watchers
  tags: app, env, explorer, watcher
  ansible.builtin.set_fact:
    app_env:
      BASE_PORT: "{{ app_base_port }}"
      BASE_WS_PORT: "{{ app_base_ws_port }}"
      BASE_APP_PORT: "{{ app_base_app_port }}"
      BASE_MONGO_PORT: "{{ app_base_mongo_port }}"
      API_BASE_URL: >-
        {{ 'http://' + ansible_default_ipv4.address + ':3001' | string if (app_modules.watcher | default(false)) else
        omit }}
      #  {{ 'http://' + app_watcher_name + ':3001' if (app_modules.watcher | default(false)) else omit }}
      DELAY: "{{ app_delay }}"
      SIZE: "{{ app_size }}"
      AGENT_NAME: "{{ app_agent_name | default(omit) }}"
      WATCHER_NAME: "{{ app_watcher_name | default(omit) }}"
      BACKEND_SERVICES: >-
        {{ app_explorers_names | join(':' + app_base_port | string + ',') + ':' + app_base_port | string
        if (app_modules.watcher | default(false) and app_explorers_names | length > 0) else omit }}
      REPL_MONGO_URI: >-
       mongodb://{{ app_explorers_names | join(':' + app_base_mongo_port | string + ',') + ':' + app_base_mongo_port | string }}/
       {{ app_db_name }}?replicaSet={{ app_mongo_replica_set_name }}
      DB_NAME: "{{ app_db_name }}"

# mongodb://10.89.2.11:27018,10.89.2.12:27018,10.89.2.13:27018,10.89.2.14:27018,10.89.2.15:27018/v2grid?replicaSet=shard1
- name: Debug env_variables
  tags: app, env, debug
  ansible.builtin.debug:
    var: app_env

- name: Create key_file for git access
  tags: app, deploy, keys, explorer, watcher
  ansible.builtin.copy:
    content: "{{ ssh_key }}"
    dest: ~/.ssh/id_ed25519
    mode: '0600'

- name: Copy deploy keys to remote host
  tags: app, deploy, keys, explorer, watcher
  ansible.builtin.copy:
    src: "~/.ssh/{{ item }}"
    dest: "~/.ssh/{{ item }}"
    mode: '0600'
    owner: "{{ user }}"
    group: "{{ group }}"
  loop:
    - ExplorationToyProblem-Backend
    - ExplorationToyProblem-LocalFront
    - ExplorationToyProblem-GlobalFront

- name: Deploy explorer module
  tags: app, deploy, explorer
  # async: 1800
  # poll: 0
  ansible.builtin.include_tasks:
    file: explorer.yml
  when: app_modules.explorer | default(false)

- name: Deploy watcher module
  tags: app, deploy, watcher
  # async: 1800
  # poll: 0
  ansible.builtin.include_tasks:
    file: watcher.yml
  when: app_modules.watcher | default(false)
