---
- name: Add default variables for CouchDB installation
  tags: db, couchdb, install
  ansible.builtin.include_vars:
    file: ../defaults/couchdb_vars.yml

- name: Install CouchDB on Ubuntu
  tags: db, couchdb, install
  block:
    # - name: Install prerequisites for CouchDB
    #   become: true
    #   ansible.builtin.apt:
    #     name: "{{ item }}"
    #     state: present
    #     update_cache: true
    #   loop:
    #     - gnupg ##########
    #     - curl ##########
    #     - debconf-utils ##########

    - name: Ensure keyring directory exists
      become: true
      ansible.builtin.file:
        path: "{{ couchdb_keyring_path | dirname }}"
        state: directory
        mode: '0755'

    - name: CouchDB GPG key to keyring
      become: true
      block:
        - name: Download CouchDB GPG key
          ansible.builtin.get_url:
            url: "{{ couchdb_key_url }}"
            dest: "/tmp/couchdb-keys.asc"
            mode: '0644'
            force: false

        - name: Convert GPG key to keyring
          ansible.builtin.command: >
            gpg --batch --yes --dearmor -o {{ couchdb_keyring_path }} /tmp/couchdb-keys.asc
          args:
            creates: "{{ couchdb_keyring_path }}"

    - name: Add apt repository for CouchDB
      become: true
      ansible.builtin.apt_repository:
        repo: "deb [signed-by={{ couchdb_keyring_path }}] {{ couchdb_repo_url }} {{ couchdb_release_codename }} main"
        state: present
        filename: couchdb

    - name: Preseed debconf answers for CouchDB installer
      become: true
      ansible.builtin.debconf:
        name: couchdb
        question: "{{ item.question }}"
        value: "{{ item.value }}"
        vtype: "{{ item.vtype }}"
      loop:
        - { question: "couchdb/bindaddress", value: "{{ couchdb_bind_address }}", vtype: "string" }
        - { question: "couchdb/mode", value: "{{ couchdb_mode }}", vtype: "select" }
        - { question: "couchdb/adminpass", value: "{{ couchdb_admin_password }}", vtype: "password" }
        - { question: "couchdb/adminpass_again", value: "{{ couchdb_admin_password }}", vtype: "password" }
        - { question: "couchdb/cookie", value: "{{ couchdb_erl_cookie }}", vtype: "string" }
        - { question: "couchdb/nodename", value: "{{ ansible_host }}", vtype: "string" }

    - name: Ensure apt cache is up to date
      become: true
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install CouchDB
      become: true
      ansible.builtin.apt:
        name: "{{ couchdb_package }}{{ ('=' + couchdb_version) if couchdb_version | length > 0 else '' }}"
        state: present
      notify: restart_couchdb

    - name: Ensure file /etc/couchdb/vm.args exists with correct cookie
      become: true
      ansible.builtin.template:
        src: couchdb.vm.args.j2
        dest: /etc/couchdb/vm.args
        owner: couchdb
        group: couchdb
        mode: '0600'
      notify: restart_couchdb

    - name: Ensure /etc/couchdb/local.ini is present
      become: true
      ansible.builtin.template:
        src: couchdb.ini.j2
        dest: /etc/couchdb/local.ini
        owner: couchdb
        group: couchdb
        mode: '0644'
      notify: restart_couchdb

    - name: Ensure CouchDB service is enabled and started
      become: true
      ansible.builtin.service:
        name: "{{ couchdb_service_name }}"
        enabled: true
        state: started
  rescue:
    - name: Fail if CouchDB installation fails
      ansible.builtin.fail:
        msg: "CouchDB installation failed."

- name: Configure CouchDB settings
  tags: db, couchdb, config
  block:
    - name: Copy configuration template for CouchDB
      ansible.builtin.template:
        src: couchdb.ini.j2
        dest: /etc/couchdb/local.ini
        owner: couchdb
        group: couchdb
        mode: '0644'
      become: true
      notify: Restart CouchDB

    - name: Wait for CouchDB HTTP interface to be ready
      ansible.builtin.wait_for:
        host: 127.0.0.1
        port: "{{ couchdb_port }}"
        delay: 2
        timeout: "{{ couchdb_wait_timeout }}"

    - name: Save credentials fact
      ansible.builtin.set_fact:
        couchdb_credentials: "Basic {{ (couchdb_admin_user + ':' + couchdb_admin_password) | b64encode }}"

    - name: Look for existing v2grid database
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/v2grid"
        method: GET
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        status_code: [200, 404]
      register: db_check
      ignore_errors: true
    
    - name: Debug database check result
      ansible.builtin.debug:
        var: db_check.status
    
    - name: If database exists, delete it to recreate
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/v2grid"
        method: DELETE
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        status_code: 200
      when: db_check.status == 200
      ignore_errors: true

    - name: Put v2grid database in CouchDB
      tags: db, couchdb, config
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/v2grid"
        method: PUT
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        status_code: [201, 412]
      register: create_db_result
      ignore_errors: true

    - name: Look for existing replication setup
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/_replicator/_all_docs"
        method: GET
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        status_code: 200
      register: replication_check
      ignore_errors: true

    - name: Debug existing replications
      ansible.builtin.debug:
        var: replication_check.json.rows
      when: replication_check is defined and replication_check.json is defined
    
    - name: If existing replication found, remove them to overwrite them
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/_replicator/{{ item.id }}?rev={{ item.value.rev }}"
        method: DELETE
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        status_code: 200
      loop: "{{ replication_check.json.rows | list }}"
      when: replication_check is defined and replication_check.json.rows | length > 0
      ignore_errors: true

    - name: If deletion then purge
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ couchdb_port }}/_replicator/_purge"
        method: POST
        headers:
          Content-Type: application/json
          Authorization: "{{ couchdb_credentials }}"
        body_format: json
        body: |
          {
            "{{ item.id }}": [ "{{ item.value.rev }}" ]
          }
        status_code: 201
      loop: "{{ replication_check.json.rows | list }}"
      when: replication_check is defined and replication_check.json.rows | length > 0
      ignore_errors: true

    - name: Set up replication between CouchDB nodes
      tags: db, couchdb, config
      block:
        - name: Set up replication to peers
          ansible.builtin.uri:
            url: "http://127.0.0.1:{{ couchdb_port }}/_replicator"
            method: POST
            headers:
              Content-Type: application/json
              Authorization: "{{ couchdb_credentials }}"
            body_format: json
            body: |
              {
                "source": "http://{{ couchdb_admin_user }}:{{ couchdb_admin_password }}@127.0.0.1:{{ couchdb_port }}/v2grid",
                "target": "http://{{ couchdb_admin_user }}:{{ couchdb_admin_password }}@{{ item }}:{{ couchdb_port }}/v2grid",
                "continuous": true
              }
            status_code: 201
          loop: "{{ db_nodes | difference([ansible_host]) }}"
      when: db_nodes is defined and db_nodes | length > 0
      ignore_errors: true
