# Back environment variables for {{ app_env.AGENT_NAME }} 
SIZE={{ app_env.SIZE }}
DELAY={{ app_env.DELAY }}
BASE_PORT={{ app_env.BASE_PORT }}
BASE_WS_PORT={{ app_env.BASE_WS_PORT }}
BASE_APP_PORT={{ app_env.BASE_APP_PORT }}
BASE_MONGO_PORT={{ app_env.BASE_MONGO_PORT }}
DB_NAME={{ app_env.DB_NAME }}
REPL_MONGO_URI={{ app_env.REPL_MONGO_URI }}
AGENT_NAME={{ app_env.AGENT_NAME }}
# Front environment variables for {{ app_env.AGENT_NAME }}
VITE_DELAY={{ app_env.DELAY }}
VITE_SIZE={{ app_env.SIZE }}
VITE_BASE_PORT={{ app_env.BASE_PORT }}
VITE_BASE_WS_PORT={{ app_env.BASE_WS_PORT }}