# Environment variables for watcher {{ app_env.WATCHER_NAME }}
WATCHER_NAME={{ app_env.WATCHER_NAME }}
SIZE={{ app_env.SIZE }}
DELAY={{ app_env.DELAY }}
API_BASE_URL={{ app_env.API_BASE_URL }}
BACKEND_SERVICES={{ app_env.BACKEND_SERVICES }}
VITE_BACKEND_SERVICES={{ app_env.BACKEND_SERVICES }}
VITE_API_BASE_URL={{ app_env.API_BASE_URL }}
VITE_DELAY={{ app_env.DELAY }}
VITE_SIZE={{ app_env.SIZE }}
VITE_WATCHER_NAME={{ app_env.WATCHER_NAME }}
