[httpd]
bind_address = {{ couchdb_bind_address }}
port = {{ couchdb_port }}

[couchdb]
database_dir = /var/lib/couchdb
view_index_dir = /var/lib/couchdb

[chttpd]
port = {{ couchdb_port }}
bind_address = {{ couchdb_bind_address }}

[admins]
{{ couchdb_admin_user }} = {{ couchdb_admin_password | quote }}

[cluster]
q = {{ couchdb_q }}
n = {{ couchdb_n }}

[log]
level = none
file = /var/log/couchdb/couch.log

[replicator]
max_history = {{ couchdb_max_history }}
retries_per_request = {{ couchdb_retries_per_request }}
max_jobs = {{ couchdb_max_jobs }}
interval = {{ couchdb_interval }}
max_churn = {{ couchdb_max_churn }}