var selected_hosts = {{ all_hosts | to_json }};
var voting_hosts = {{ voting_hosts | to_json }};

function isVoting(h) {
    for (var i = 0; i < voting_hosts.length; i++)
        if (voting_hosts[i] === h) return true;
    return false;
}
var cfg = null;
try {
    cfg = rs.conf();
} catch (e) {
    print("warning rs.conf() failed: " + tojson(e));
}
var rsname = (cfg && cfg._id) ? cfg._id : "rs0";
var version = (cfg && cfg.version) ? cfg.version + 1 : 1;

// get old conf IDs w/ maxId to generate them
var oldMembers = (cfg && cfg.members) ? cfg.members : [];
var hostToOldId = {};
var presentOldHosts = {};
var maxId = -1;
for (var i = 0; i < oldMembers.length; i++) {
    var m = oldMembers[i];
    hostToOldId[m.host] = m._id;
    presentOldHosts[m.host] = true;
    if (m._id > maxId) maxId = m._id;
}

var members = [];
// Use IDs when possible else create one
for (var i = 0; i < selected_hosts.length; i++) {
    var h = selected_hosts[i];
    var id;
    if (hostToOldId.hasOwnProperty(h)) {
        id = hostToOldId[h];
    } else {
        id = ++maxId;
    }
    members.push({
        _id: id,
        host: h,
        priority: isVoting(h) ? 1 : 0,
        votes: isVoting(h) ? 1 : 0,
        hidden: false
    });
    // mark as kept
    presentOldHosts[h] = true;
}

var newcfg = {
    _id: rsname,
    version: version,
    members: members
};
print("Applying new config for " + rsname + " version " + version);
printjson(newcfg);
try {
    rs.reconfig(newcfg, {
        force: true
    });
    print("rs.reconfig executed with {force:true}");
} catch (e) {
    print("rs.reconfig failed: " + e);
}