---
- name: Launch exploring agent's application
  hosts: exploring_agents
  become: true
  tasks:
    - name: Copy systemd service file for exploring agent
      ansible.builtin.template:
        src: exploring-agent.service.j2
        dest: /etc/systemd/system/exploring-agent.service
        mode: '0644'
        owner: root
        group: root
      notify: ReloadSystemd

    - name: Enable and start the exploring agent service
      ansible.builtin.systemd:
        name: exploring-agent
        enabled: true
        state: started

  handlers:
    - name: ReloadSystemd
      ansible.builtin.systemd:
        daemon_reload: true

    # - name: Check if the lock file exists
    #   ansible.builtin.stat:
    #     path: /app/exploring-agent.lock
    #   register: lock_file

    # - name: Start exploring agent
    #   ansible.builtin.command:
    #     cmd: concurrently --names "front,server" "npm start --prefix public" "node server/build/app.js"
    #     chdir: /app
    #   when: not lock_file.stat.exists
    #   register: start_result
    #   ignore_errors: false

    # - name: Create lock file
    #   ansible.builtin.file:
    #     path: /app/exploring-agent.lock
    #     state: touch
    #     mode: '0644'
    #   when: not lock_file.stat.exists and start_result.rc == 0

    # - name: Display start result
    #   ansible.builtin.debug:
    #     var: start_result.stdout_lines
