---
- name: Detect the operating system
  ansible.builtin.set_fact:
    os_family: "{{ ansible_facts['os_family'] }}"
    os_distribution: "{{ ansible_facts['distribution'] }}"
    os_version: "{{ ansible_facts['distribution_version'] }}"

- name: Include OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "{{ os_family | lower }}.yml"
    - default.yml

- name: Configure SSH for Linux
  ansible.builtin.include_tasks: linux.yml
  when: os_family != "Windows"

- name: Configure SSH for Windows
  ansible.builtin.include_tasks: windows.yml
  when: os_family == "Windows"

- name: Ensure SSHD service is enabled and started
  ansible.builtin.service:
    name: "{{ sshd_service }}"
    state: started
    enabled: true

- name: Ensure the root user's .ssh directory exists
  ansible.builtin.file:
    path: /root/.ssh
    state: directory
    mode: '0700'

# - name: Ensure SSH key exists for the user
#   ansible.builtin.user:
#     name: "{{ sshd_user }}"
#     generate_ssh_key: true
#     ssh_key_bits: 2048
#     ssh_key_comment: "{{ sshd_user }}@{{ ansible_facts['hostname'] }}"
#   when: os_family != "Windows"

- name: Copy ssh key to authorized_keys
  ansible.builtin.authorized_key:
    user: "root"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
  when: os_family != "Windows"

- name: Enable root login in SSH configuration
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin yes'
    state: present
  notify: Restart SSHD
# - name: Disable password authentication for SSH
#   ansible.builtin.lineinfile:
#     path: /etc/ssh/sshd_config
#     regexp: '^PasswordAuthentication'
#     line: 'PasswordAuthentication no'
#     state: present
#   when: os_family != "Windows"
